nav#hub-sidebar ul > li.hub-sidebar-page.subnav-expanded > a {
  color: var(--sinch-grey) !important;
  background-color: var(--side-menu-background) !important;
}

#hub-sidebar ul a.active > .link-title,
nav#hub-sidebar ul.subpages > li > a.subpage.active {
  color: var(--sinch-new-purple) !important;
  font-weight: 400 !important;
  background: var(--side-menu-background);
  line-height: 1.714em;
}

#hub-sidebar {
  font-size: 14px;
  background: #f5f5f6;
}

#hub-sidebar li {
  background-color: var(--side-menu-background);
}

#hub-sidebar ul > li.subnav-expanded > a {
  font-weight: 400;
  font-size: 14px !important;
}

nav#hub-sidebar ul a {
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: var(--side-menu-background) !important;
  color: var(--sinch-grey) !important;
  font-weight: 400;
  width: inherit !important;
  padding: 8px 14px;
  max-width: 100%;
}

nav#hub-sidebar ul a.active:hover,
nav#hub-sidebar ul a:hover {
  border: 1px solid var(--sinch-grey);
  background: var(--sinch-white);
  color: var(--sinch-grey);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav#hub-sidebar ul a:hover:not(.active),
nav#hub-sidebar h3:hover:not(.product-expanded) {
  color: var(--sinch-new-purple) !important;
  background: #fff;
}

#hub-sidebar-content {
  margin: 48px 0 20px;
  padding: 0 10px;
}

#hub-sidebar-content h3 {
  width: calc(100% - 10px);
  border: 1px solid var(--side-menu-background);
  padding: 5px 9px 5px 9px !important;
  text-transform: capitalize;
  font-size: 14px !important;
  font-weight: 700;
  margin: 8px auto 8px;
}

#hub-sidebar-content h3.product-expanded .fa-chevron-down {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  margin-right: 2px;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 14px;
}

#hub-sidebar-content h3 .fa-chevron-down {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  font-size: 0.8em;
  padding: 2px;
  opacity: 0.7;
  float: right;
  color: transparent;
}

#hub-sidebar-content li > a span.fa-chevron-down {
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 1px;
}

.fa-chevron-down:before {
  content: "\f0dd";
  font-size: 14px;
}

#hub-sidebar-content ul > li.subnav-expanded > a > .fa {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  padding-left: 1px !important;
}

#hub-sidebar-content h3:hover {
  cursor: pointer;
  border: 1px solid var(--sinch-grey);
  background: #fff;
  color: var(--sinch-grey);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

nav#hub-sidebar h3 {
  color: var(--sinch-grey);
}

nav#hub-sidebar ul .subpages .subpage {
  width: calc(100% - 40px);
}

nav#hub-sidebar .scrollable-parent > .nano > .nano-pane > .nano-slider {
  background: #d3ccd6;
}

#hub-sidebar-content a.text-overflow.subpage {
  white-space: normal;
}
#hub-sidebar-content a.text-overflow {
  white-space: normal;
}

.nano-pane {
  width: 2px !important;
}

.nano > .nano-content {
  width: 245px;
  left: 25px !important;
}

nav#hub-sidebar ul.subpages > li > a.subpage {
  padding: 5px 10px;
  margin: 0 0 0 20px;
}

nav#hub-sidebar ul.subpages > li {
  padding-right: 10px;
}

nav#hub-sidebar ul li.subnav-expanded a > .link-title > span {
  display: none;
}

#hub-sidebar-content ul.subpages:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 6px;
  background: var(--side-menu-background);
}

#hub-sidebar-parent {
  width: 498px;
}

/* SMS Icon */
#nano-content .ng-scope:first-child h3::before {
  content: url('https://sinch.github.io/docs/images/landing/icon-s-mms.svg');
  padding-right: 8px;
}
/* WhatsApp Icon */
.hub-is-home .hub-landing-category-columns .row:first-child .col-sm-4:nth-child(2) h3::before {
  content: url('https://sinch.github.io/docs/images/landing/icon-s-whatsapp.svg');
  padding-right: 8px;
}
/* Verification Icon */
.hub-is-home .hub-landing-category-columns .row:first-child .col-sm-4:nth-child(3) h3::before {
  content: url('https://sinch.github.io/docs/images/landing/icon-s-verification.svg');
  padding-right: 8px;
}

/* Voice Icon */
.hub-is-home .hub-landing-category-columns .row:nth-child(2) .col-sm-4:first-child h3::before {
  content: url('https://sinch.github.io/docs/images/landing/icon-s-voice.svg');
  padding-right: 8px;
}
/* Video Icon */
.hub-is-home .hub-landing-category-columns .row:nth-child(2) .col-sm-4:nth-child(2) h3::before {
  content: url('https://sinch.github.io/docs/images/landing/icon-s-video.svg');
  padding-right: 8px;
}
/* RCS Icon */
.hub-is-home .hub-landing-category-columns .row:nth-child(2) .col-sm-4:nth-child(3) h3::before {
  content: url('https://sinch.github.io/docs/images/landing/icon-s-rcs.svg');
  padding-right: 8px;
}

/* MMS Icon */
.hub-is-home .hub-landing-category-columns .row:nth-child(3) .col-sm-4:first-child h3::before {
  content: url('https://sinch.github.io/docs/images/landing/icon-s-mms.svg');
  padding-right: 8px;
}
/* Number Lookup Icon */
.hub-is-home .hub-landing-category-columns .row:nth-child(3) .col-sm-4:nth-child(2) h3::before {
  content: url('https://sinch.github.io/docs/images/landing/icon-s-number-lookup.svg');
  padding-right: 8px;
}
/* Tutorials Icon */
.hub-is-home .hub-landing-category-columns .row:nth-child(3) .col-sm-4:nth-child(3) h3::before {
  content: url('https://sinch.github.io/docs/images/landing/icon-s-tutorials.svg');
  padding-right: 8px;
}