/*Specifically applied in the side nav in the docs section*/
#hub-sidebar-content > div > ul {
    width: 100%;
    margin: 0;
}

nav#hub-sidebar ul a {
    border: 1px solid transparent;
    border-radius: 3px;
    width: inherit !important;
    background: var(--side-menu-background);
}

nav#hub-sidebar {
    background: var(--side-menu-background) !important;
}


#hub-sidebar-content h3 {
    margin-left: 10px;
}
