/*Specifically applied in the side nav in the docs section*/
#hub-sidebar-content > div > ul {
    width: 100%;
    margin: 0;
}

nav#hub-sidebar {
    background: var(--side-menu-background) !important;
    font-size: 14px !important;
}

@media (min-width: 1010px) {
    html.csspositionsticky #hub-sidebar-parent {
      margin-left: 0px!important;
    }
  }
